
* { 
	padding: 0; 
	margin: 0; 
	box-sizing: border-box; 
	font-family:Garamond; 
} 
	
body { 
	background: black; 
	overflow: auto; 
} 
	
h1{ 
	text-align: center; 
	margin: 5%; 
	font-size: 3rem; 
	text-decoration: underline; 
} 
	
ul { 
	text-align: lleft; 
	padding-left:20%; 
	padding:6%; 
	font-size: 3rem; 
	list-style:bullets; 
} 
	
li:hover{ 
	color:red; 
	margin: 4%; 
	transition:3.0s ease; 
	cursor: pointer; 
} 

